@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.recipes-item-container {
    height: 360px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-family: "Bree Serif";
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-shadow: 0 0 10px 2px #ddd; */
    cursor: pointer;
}

.recipes-img {
    height: 250px;
    width: 280px;
    border-radius: 15px;
}

.recipes-name-heading {
    color: #000;
    font-family: "Bree Serif";
    font-weight: 500;
    align-self: flex-start;
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.recipes-view-all-link {
    text-decoration: none;
    color: #d0b200;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.arrow {
    margin-top: 5px;
}

.recipes-view-all-link,
.arrow {
    font-family: "Lucida Calligraphy";
}

.recipes-view-all-link:hover {
    font-family: "Lucida Calligraphy";
    text-decoration: underline;
}

.add-to-fav-btn {
    padding: 10px;
    background-color: lightgray;
    width: 170px;
    border-radius: 6px;
    border: 0;
    margin-top: 15px;
}

.add-to-fav-btn:active {
    transform: translateY(2px);
}

@media screen and (max-width: 576px) {
    .recipes-img {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .recipes-img {
        width: 250px;
        height: 280px;
    }
}

@media screen and (mac-width: 767px) {
    .add-recipes-desc {
        text-align: center;
    }
}