.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 2px #ddd;
    font-family: "Roboto";
    height: 80px;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

.nav-logo-heading {
    font-family: "Lucida Calligraphy";
    transform: rotate(-17deg);
    font-size: 30px;
}

.navigation-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.wcu-link {
    text-decoration: none;
    color: #000;
}

.header-logout-btn {
    height: 40px;
    width: 100px;
    background: linear-gradient(to right, deepskyblue, rgb(86, 187, 221));
    color: #fff;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-right: 50px;
}

.header-logout-btn:active {
    scale: 0.95;
}