.all-dessert-recipes-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Roboto";
    /* background-color: rgb(220, 220, 220); */
    min-height: 100vh;
    padding: 10px 15px;
    padding-top: 120px;
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .all-dessert-recipes-container {
        display: flex;
        flex-direction: column;
    }
}

.all-dessert-recipe-item-img {
    width: 450px;
    min-height: 450px;
    border-radius: 6px;
}

.all-dessert-recipe-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding-top: 10px;
}

@media screen and (max-width: 767px) {
    .all-dessert-recipe-item-img {
        width: 100%;
    }

    .all-dessert-recipe-details-container {
        width: 100%;
    }
}

.all-dessert-recipe-name {
    font-size: 28px;
    /* font-family: sans-serif; */
    font-family: "Roboto";
    font-weight: 700;
}

.all-dessert-recipe-desc {
    font-size: 17px;
    color: #616e7c;
}

.all-dessert-recipe-price,
.dessert-stock {
    color: gray;
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* font-style: italic; */
}

.dessert-stock {
    font-size: 17px;
}

.dessert-price,
.stock {
    font-size: 17px;
    font-style: normal;
    margin-right: 5px;
    color: #000;
    font-weight: 700;
}

.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    align-self: flex-start;
    padding-left: 10px;
}

.quantity-count {
    font-family: sans-serif;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
    padding: 5px;
    color: #171f46;
    user-select: none;
}

.increment-decrement-btn {
    cursor: pointer;
}

.add-to-fav-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .quantity-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .add-to-fav-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.all-dessert-recipe-hr {
    border: 2px solid #616e7c;
}

.all-dessert-recipe-ingredients {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-dessert-recipe-ingredients-heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-dessert-recipe-ingredients-list-wise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: disc;
    /* line-height: 30px; */
    gap: 10px;
}

.all-dessert-recipe-item {
    color: #616e7c;
}

.all-dessert-recipe-failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-dessert-recipe-falilure-img {
    width: 380px;
    margin: 30px 0;
}

.all-dessert-recipe-failure-heading {
    font-size: 28px;
    font-family: "Roboto";
    width: 400px;
    text-align: center;
    line-height: 33px;
}

.all-dessert-recipe-failure-desc {
    font-size: 17px;
    font-family: "Roboto";
    color: gray;
    text-align: center;
    margin-top: 5px;
}

.all-dessert-recipe-failure-button {
    font-family: "Roboto";
    width: 80px;
    margin: 7px;
}