.favorites-container {
    display: flex;
    justify-content: center;
    min-height: 75vh;
    padding-top: 100px;
    background-color: #272b34;
}

@media screen and (min-width: 768px) {
    .favorites-container {
        min-height: 100vh;
    }
}

.favorites-content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1110px;
}

@media screen and (min-width: 768px) {
    .favorites-content-container {
        width: 80%;
        max-width: 1110px;
    }
}

.favorites-heading {
    color: #3e4c59;
    color: #c5c9cc;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .favorites-heading {
        font-size: 48px;
    }
}

.remove-all-btn {
    height: 40px;
    color: #0b69ff;
    border: 0;
    background-color: transparent;
    font-size: 16px;
    font-family: "Roboto";
    cursor: pointer;
    align-self: flex-end;
}