.password-container {
    min-height: 100vh;
    font-family: "Roboto";
    background: url("../../../Assets/CapstoneProject/Login_BG.jpg") no-repeat center;
    background-size: cover;
}

.password-heading {
    font-family: "Lucida Calligraphy";
    font-size: 30px;
}

.row {
    min-height: 100vh;
}

.password-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30% !important;
    /* border: 1px solid #eee; */
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #fff;
    padding: 50px 60px;
    /* height: 490px; */
    min-width: 390px !important;
    backdrop-filter: blur(25px);
}

.password-input {
    width: 100% !important;
    font-family: "Roboto";
    font-weight: lighter;
    height: 40px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-size: 14px;
}

.password-label {
    font-size: 15px !important;
    margin-bottom: 1px !important;
    font-family: "Times New Roman";
    color: rgb(226, 226, 226);
}

.password-required-field {
    color: red;
}

.password-error-msg {
    font-size: 14px;
    color: red;
    margin-bottom: 0;
    margin-top: 2px;
}

.password-btn {
    font-family: "Lucida Calligraphy" !important;
    letter-spacing: 1px;
}

.password-btn:active {
    transform: translateY(2px);
}

.password-to-login-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.update-password-checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.update-password-checkbox {
    height: 16px;
    width: 16px;
}

.up-checkbox-label {
    font-family: "Bree Serif";
    margin-bottom: 2px;
    color: #fff;
}

.password-to-login-btn {
    font-family: "Roboto";
    width: 110px;
    border-radius: 6px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-to-login-btn:hover {
    box-shadow: 0 0 10px 1px #aaa;
}

.loginBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.up-login-btn {
    width: 120px;
    font-family: "Roboto";
}

.up-login-btn:hover {
    box-shadow: 0 0 15px 2px #aaa;
}

@media screen and (max-width: 767px) {
    .password-heading {
        font-size: 30px;
    }

    .form-container {
        width: 75% !important;
    }
}