.no-shipment-products-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
    margin-top: 48px;
    min-height: 100vh;
    background-color: #272b34;
}

@media screen and (min-width: 768px) {
    .no-shipment-products-view {
        width: 100%;
        padding-bottom: 0;
        margin-top: 0px;
    }
}

.no-shipment-products-img {
    width: 250px;
    height: 180px;
}

@media screen and (min-width: 768px) {
    .no-shipment-products-img {
        width: 459px;
        height: 315px;
    }
}

.no-shipment-products-heading {
    /* color: #171f46; */
    color: #fff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3px;
}

@media screen and (min-width: 768px) {
    .no-shipment-products-heading {
        margin-top: 32px;
        font-weight: 600;
        font-size: 24px;
    }
}

.no-shipment-products-btn {
    width: 80px;
    height: 40px;
    font-family: sans-serif;
    border: 0;
    border-radius: 4px;
    background-color: #00bbff;
    margin-top: 25px;
}

.no-shipment-products-btn:active {
    transform: scale(0.95);
}