.cart-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: "Roboto";
    width: 100%;
}

.cart-summary {
    width: 340px;
    /* background-color: #fff; */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #72777c;
    background-color: #2e3339;
}

.order-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-total-heading {
    color: rgb(121, 121, 121);
    font-size: 24px;
    font-weight: 500;
    /* color: #616e7c; */
    color: #838d92;
}

.cost-of-items {
    font-size: 26px;
    font-weight: 700;
    margin-left: 8px;
    /* color: #171f46; */
    color: #c7d4dc;
}

.items-in-cart {
    color: gray;
    color: #a2a7ac;
}

.checkout-btn {
    border: 0;
    /* border-radius: 5px; */
    height: 40px;
    width: 150px;
    width: 100%;
}